.color-secondary {
  color: var(--ion-color-secondary);
}
.change-mirror-btn {
  --padding-end: 5px
  --padding-top: 0px;
  --padding-bottom: 0px;
    --ripple-color: transparent;

  --padding-start: 5px;
}