<app-toolbar [showTitle]="true" title="Home"></app-toolbar>

<ion-content color="secondary" class="ion-padding">
  <ion-segment
    (ionChange)="categoryChanged($event)"
    [scrollable]="true"
    mode="ios"
    [(ngModel)]="selectedList"
    [value]="'0'"
  >
    <ion-segment-button id="segment-0" value="0">
      Watching ({{watchingAnimes ? watchingAnimes.length :
      0}})</ion-segment-button
    >
    <ion-segment-button id="segment-1" value="1">
      Plan to watch ({{planToWatchAnimes ? planToWatchAnimes.length : 0}})
    </ion-segment-button>
    <ion-segment-button id="segment-3" value="3">
      Completed ({{completedAnimes ? completedAnimes.length : 0}})
    </ion-segment-button>
  </ion-segment>

  <!-- List per slide -->

  <ion-slides (ionSlideWillChange)="slideChanged()" [options]="slideOpts">
    <ion-slide>
      <app-anime-list [animeList]="watchingAnimes"></app-anime-list>
    </ion-slide>

    <ion-slide>
      <app-anime-list [animeList]="planToWatchAnimes"></app-anime-list
    ></ion-slide>

    <ion-slide>
      <app-anime-list [animeList]="completedAnimes"></app-anime-list
    ></ion-slide>
  </ion-slides>
</ion-content>
