<div class="p-2 anime-options rounded flex flex-col">
  <ion-button mode="ios" (click)="onClick(open)">
    <ion-icon slot="start" name="open"></ion-icon> Open
  </ion-button>

  <ion-button color="tertiary" mode="ios" (click)="onClick(addtobookmarks)">
    <ion-icon slot="start" name="bookmarks"></ion-icon> Add To Bookmarks
  </ion-button>
  <ion-button mode="ios" color="warning" (click)="onClick(share)">
    <ion-icon slot="start" name="share-social"></ion-icon>
    Share
  </ion-button>
  <ion-button mode="ios" color="danger" (click)="onClick(delete)">
    <ion-icon slot="start" name="trash"></ion-icon>
    Delete
  </ion-button>
</div>
