<app-toolbar title="Home"></app-toolbar>
<ion-content color="secondary" class="ion-padding">
  <ion-segment [scrollable]="true" mode="ios" value="watching">
    <ion-segment-button value="watching"> Watching </ion-segment-button>
    <ion-segment-button value="plan-to-watch">
      Plan to watch
    </ion-segment-button>
    <ion-segment-button value="on-hold"> On hold </ion-segment-button>
    <ion-segment-button value="completed"> Completed </ion-segment-button>
    <ion-segment-button value="dropped"> Dropped </ion-segment-button>
  </ion-segment>
</ion-content>
